@import url(style.css);


.aside {
	position: sticky;
	max-width: 1120px;
	left: 0vw;
	width: 320px;
	min-height: 100vh;
	background: #fff;
	overflow: auto;
	display: flex;
	flex-direction: column;
	box-shadow: 26px 0px 41px 7px rgba(65, 97, 122, 0.1);
}
.aside__header {
	display: flex;
	height: 90px;
	padding: 0 20px;
	align-items: center;
}
.aside__burger {}
.icon--close {
	background: #FF3E79 url(../img/icons/close.svg) no-repeat center;
}
.aside__logo {
	margin:0 16px;
}
.aside__search {
	margin: 0 0 0 auto;
	background: #FF3E79 url(../img/icons/search.svg) no-repeat center;
}

.aside__navigation {
	position: relative;
}
.aside__navigation-items {
	display: flex;
	flex-direction: column;
}
.aside__navigation-item {
	font-size: 16px;
	font-weight: 500;
	color: #1B1C21;
	padding: 24px 24px;
	position: relative;
	transition: background .2s;
}
.aside__navigation-item:hover {
	background: rgba(126, 126, 130, .1);
}
.aside__navigation-item--selected a{
	color: #7E7E82;
}
.aside__navigation-item--selected::before {
	content: "";
	position: absolute;
	background: #41F6D7;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 4px;
	height: 40px;
	left: 0px;
	top: 14px;
}

.aside__footer {
	margin-top: auto;
	width: 100%;
	padding: 24px;
}
.aside__footer-icons {
	position: relative;
	left: -10px;
}
.aside__footer-mail {
	font-size: 16px;
	font-weight: 500;
	color: #1B1C21;
	margin: 16px 0;
}
.aside__footer-phone-number {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
}
.aside__footer-language-change {
	margin: 30px 0 10px -3px;
}
.language-change__button {	
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #1B1C21;
	background-color: #fff;
	padding: 3px;
	border: 1px solid white;
	transition: border .2s;
}
.language-change__button--selected {
	color: #7E7E82;
}
.language-change__button:hover {
	border: 1px solid #7E7E82;
}









