@import url(style.css);

/*Header | Начало*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 88px;
	padding: 0 8px;
	background-color: white;
}
.header a {
	display: block;
}
.header__left-menu {
	position: relative;
}
.header__left-menu::after {
	content: '|';
	position: absolute;
	font-size: 32px;
	color: #EAEAEA;
	right: -14px;
}
.left-menu {
	display: flex;
	align-items: center;
}
.left-menu__logo {
	margin:0 8px;
}

.header__right-menu {
	display: flex;
}
.service-icon-set .icon {
	margin:0 8px;
}
.left-menu__icon-burger {
	background: #FF3E79 url(../img/icons/burger.svg) no-repeat;
}
.header__icons {
	display: flex;
}
.header__icons label {
	display: none;
}
.header__icons--left-part {
	display: none;
}
.header__icons--right-part {
	display: flex;
}
.service__header {
	display: block;
	padding: 20px 0;
}
.service__header::before {
	content: "";
	position: absolute;
	background: #41F6D7;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 4px;
	height: 40px;
	left: 0px;
}

/*Service | Начало*/

.service__links {
	display: none;
}
.navigation__items {
	display: flex;
	overflow: auto;
	align-items: center;
	position: relative;
}
.navigation__items::after {
	content: "";
	position: absolute;
	background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
	height: 40px;
	width: 20px;
	right: 0;
}
.navigation__item a {
	display: block;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #7E7E82;
	white-space: nowrap;
	height: 40px;
	padding: 8px 16px;
}
.navigation__item--selected {	
	border: 2px solid #B8FFEC;
	border-radius: 6px;
	background-color: #fff;
}
.paragraph {
	display: flex;
	flex-wrap: wrap;
	padding-top: 24px;
	padding-bottom: 30px;
}
.paragraph__text{
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 16px;
}
.paragraph__text-wrap {
	height: 100px;
	overflow: hidden;
	margin-bottom: 16px;
}
.paragraph__text-wrap p{
	margin-bottom: 20px;
}
.paragraph__img {
	width: 100%;
}
.paragraph__img  img{
	width: 100%;
}
.p {
	font-family: TT Lakes;
	font-size: 15px;
	line-height: 20px;
	color: #1B1C21;
}


@media (min-width: 768px) {
/* Стили для устройств с шириной viewport, находящейся в диапазоне 768px - 1119px */

.header__icons--left-part {
	display: flex;
}
.header__left-menu::after {
	display: none;
}
.left-menu__main-menu {
	margin-right: 40px;
	position: relative;
}
.left-menu__main-menu::after {
	content: '|';
	position: absolute;
	font-size: 32px;
	color: #EAEAEA;
	right: -22px;
	top: 4px;
}

.header__icons--right-part {
	margin-left: 30px;
	position: relative;
}
.header__icons--right-part::before {
	content: '|';
	position: absolute;
	font-size: 32px;
	color: #EAEAEA;
	left: -20px;
	top: 4px;
}
.paragraph__text {
	flex: 1 1 40%;
	margin: 10px 10px 25px 0;
}
.paragraph__img {	
	flex: 1 1 40%;
	margin: 10px 25px;
	border-radius: 8px;
	overflow: hidden;
}
.paragraph__text-wrap {
	height: 160px;
}
}

/* Устройства с большим экраном (компьютеры, 1120px и выше) */
@media (min-width: 1120px) {
.header {
	display: none;
}
.header__icons .icon:not(:nth-last-of-type(-n+2)) {
	display: none;
}
.navigation__items {
	overflow: visible;
	flex-wrap: wrap;
}
.navigation__items::after {
	display: none;
}
.service__top {
	display: flex;
	justify-content: space-between;
}
.service__header {
	display: inline-block;
}
.service__links {
	display: flex;
	align-items: center;
	justify-content: right;
	font-family: TT Lakes;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}
.service__links a {
	position: relative;
	width: auto;
	color: #1B1C21;
	margin-right: 40px;
	padding-right: 50px;
}
.service-links a::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -5px;
	right: -5px;
}
.service-links__request-link::after {
	background: url(../img/icons/repair.svg) no-repeat;
}
.service-links__status-link::after {
	background: url(../img/icons/checkstatus.svg) no-repeat;
}
}