@import url(style-reset.css);
@import url(font-face.css);
@import url(block4.css);

body {
	max-width: 1120px;
	margin: 0 auto;
	font-family: 'TT Lakes';	
	background-color: #F8F8F8;
}
a {
	color: #000;
}
.icon {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: .2s;
}
.icon a{
	display: block;
	height: 40px;
	width: 40px;
}
.icon:hover {
	opacity: 0.9;
	transform: scale(1.1);
}
.service-icon-set {
	display: flex;
}
.service-icon-set .icon {
	margin:0 8px;
}

.service-icon-set__call-icon{
	background: #FF3E79 url(../img/icons/call.svg) no-repeat center;
}

.service-icon-set__chat-icon{
	background: #FF3E79 url(../img/icons/chat.svg) no-repeat center;
}

.service-icon-set__profile-icon{
	background: #FF3E79 url(../img/icons/profile.svg) no-repeat center;
}
.header__repair-icon{
	background: #FF3E79 url(../img/icons/repair.svg) no-repeat center;
}
.header__checkstatus-icon{
	background: #FF3E79 url(../img/icons/checkstatus.svg) no-repeat center;
}