@import url(style-reset.css);
@import url(font-face.css);
@import url(block4.css);
@import url(block5.css);
@import url(block6.css);

body {
	position: relative;
	height: 100%;
	max-width: 1120px;
	margin: 0 auto;
	font-family: 'TT Lakes';	
	background-color: #F8F8F8;
}
a {
	color: #000;
}
h2 {	
	font-size: 28px;
	line-height: 40px;
	font-weight: bold;
}
h3 {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-transform: uppercase;
	color: #7E7E82;
	padding: 12px 16px;
	margin: 0 -16px;
	background: linear-gradient(270deg, #FFF 0%, #F8F8F8 98.61%);
}
.content {
	padding: 0 16px;
}
.icon {
	margin: 0 8px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: .2s;
}
.icon a{
	display: block;
	height: 40px;
	width: 40px;
}
.icon:hover {
	opacity: 0.9;
	transform: scale(1.1);
}

.service-icon-set__call-icon{
	background: #FF3E79 url(../img/icons/call.svg) no-repeat center;
}

.service-icon-set__chat-icon{
	background: #FF3E79 url(../img/icons/chat.svg) no-repeat center;
}

.service-icon-set__profile-icon{
	background: #FF3E79 url(../img/icons/profile.svg) no-repeat center;
}
.header__repair-icon{
	background: #FF3E79 url(../img/icons/repair.svg) no-repeat center;
}
.header__checkstatus-icon{
	background: #FF3E79 url(../img/icons/checkstatus.svg) no-repeat center;
}


@media (min-width: 768px) {
/* Стили для устройств с шириной viewport, находящейся в диапазоне 768px - 1119px */

.content {
	padding: 0 24px;
}
h3 {
	margin: 0 -24px;
	padding: 12px 24px;
}
.service-icon-set {
	display: flex;
}
.read-more {
	position: relative;
	padding: 5px 5px 5px 40px; 
	font-size: 16px;
	line-height: 24px;
	color: #1B1C21;
	font-weight: 500;
	background-color: #F8F8F8;
}
.read-more span {
	position: absolute;
	background: url(../img/icons/more.svg) no-repeat;
	width: 10px;
	height: 10px;
	left: 20px;
	top: 11px;
	transform: rotate(0deg);
	transition: .2s ease-out;
}
}


@media (min-width: 1120px) {
/* Стили для устройств с шириной viewport, находящейся в диапазоне 1120px и более*/

.content {
	padding: 0 32px;
}
h3 {
	margin: 0 -32px;
	padding: 12px 32px;
}
}