.form-button {
  position: relative;
  background-color: $button-color;
  padding: 6px 40px 6px 14px;
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  border-radius: 20px;
  height: 32px;
  transition: 0.2s;

  &:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }

  &::after {
    content: "";
    position: absolute;
    right: 16px;
    top: 10px;
    width: 8px;
    height: 12px;
    background: url(../img/icons/arrow_white.svg) no-repeat center;
  }
}
