.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $background-item-color;
  z-index: 100;
  width: 100%;

  @media (min-width: 768px) {
  }

  @media (min-width: 1440px) {
    display: none;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    padding: 15px;
  }

  &__left-menu::after {
    content: "|";
    position: absolute;
    font-size: 32px;
    color: #eaeaea;
    right: -14px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__right-menu {
    display: flex;
    align-items: center;
  }

  &__repair-icon {
    background: $button-color url(../img/icons/repair.svg) no-repeat center;
  }

  &__checkstatus-icon {
    background: $button-color url(../img/icons/checkstatus.svg) no-repeat center;
  }

  &__left-icons-part {
    display: none;
    margin-right: 32px;
    position: relative;

    @media (min-width: 768px) {
      display: flex;
    }

    &::after {
      content: "|";
      position: absolute;
      font-size: 32px;
      color: #eaeaea;
      right: -22px;
      top: 8px;
    }
  }

  &__right-icons-part {
    display: flex;
    gap: 16px;
  }
}
