.icon {
  margin: 0 8px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: 0.2s;

  &:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }

  a {
    display: block;
    height: 40px;
    width: 40px;
  }

  &--close {
    background: $button-color url(../img/icons/close.svg) no-repeat center;
  }
}
