.icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: opacity 0.2s, transform 0.2s;
  border: none;

  &:hover {
    opacity: 0.9;
    transform: scale(1.1);
    cursor: pointer;
  }

  &--close {
    background: $button-color url(../img/icons/close.svg) no-repeat center;
  }
}
