.left-menu {
  position: relative;
  display: flex;
  align-items: center;

  &__logo {
    margin: 0 8px;
  }

  &__icon-burger {
    background: $button-color url(../img/icons/burger.svg) no-repeat center;
  }

  &__main-menu {
    display: flex;

    @media (min-width: 768px) {
      margin-right: 34px;
      position: relative;

      &::after {
        content: "|";
        position: absolute;
        font-size: 32px;
        color: #eaeaea;
        right: -22px;
        top: 4px;
      }
    }
  }
}
