.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba($color: $background-item-color, $alpha: 0);
  transition: transform 0.3s ease-in;
  opacity: 0;
  z-index: 1;

  &__wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: -26px 0px 41px 7px rgba(65, 97, 122, 0.1);
    max-width: 320px;
    overflow: scroll;
    min-height: 100vh;
    background: $background-item-color;

    @media (min-width: 768px) {
      max-width: 440px;
    }
  }

  &__icon-close {
    flex: 0 0 40px;
    margin: 0;
  }

  &__title {
    padding-top: 36px;
  }

  &__submit {
    align-self: flex-end;
  }

  &--right {
    justify-content: flex-end;
    transform: translateX(100vw);
    transition: transform 0.3s ease-in;
  }

  &--left {
    transform: translateX(-100vw);
    transition: transform 0.3s ease-in;
  }

  &--show {
    width: 100%;
    opacity: 1;
    background: rgba($color: $background-item-color, $alpha: 0.95);
    transform: translateX(0vw);
  }
}
