@import "./form.scss";
@import "./form-button.scss";

.modal-feedback {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 24px 16px;
  right: -120%;
  top: 0;
  background: #fff;
  gap: 16px;

  &__icon-close {
    flex: 0 0 40px;
    margin: 0;
  }

  & a {
    color: $button-color;
  }

  &.show {
    right: 0;
  }

  &__title {
    padding-top: 36px;
  }

  &__submit {
    align-self: flex-end;
  }
}
