.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0);
  transition: background 0.2s linear, transform 0s linear 0.3s;
  z-index: 200;
  display: none;

  &__inner {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
    height: calc(100vh - 48px);

    @media (min-width: 768px) {
      padding: 24px;
    }
  }

  &__wrap {
    max-width: 320px;
    min-height: 100vh;
    background: $background-item-color;
    transition: transform 0.3s linear;

    @media (min-width: 768px) {
      max-width: 440px;
    }

    &--left {
      box-shadow: 26px 0px 41px 7px rgba(65, 97, 122, 0.1);
      transform: translateX(-100vw);
      transition: transform 0.3s linear;
    }

    &--right {
      box-shadow: -26px 0px 41px 7px rgba(65, 97, 122, 0.1);
      transform: translateX(100vw);
      transition: transform 0.3s linear;
    }

    &--show {
      transform: translateX(0vw);
      transition: transform 0.3s linear;
    }
  }

  &__icon-close {
    flex: 0 0 40px;
    margin: 0;

    @media (min-width: 768px) {
      position: absolute;
      left: -65px;
      top: 40px;
    }
  }

  &__title {
    position: relative;
    padding-top: 20px;

    &::before {
      content: "";
      position: absolute;
      background: #41f6d7;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 4px;
      height: 40px;
      left: -16px;

      @media (min-width: 768px) {
        left: -24px;
      }
    }
  }

  &__submit {
    align-self: flex-end;
  }

  &--right {
    justify-content: flex-end;
  }

  &--show {
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    transition: background 0.2s linear;
  }
}
