.read-more {
  position: relative;
  padding: 5px 5px 5px 40px;
  font-size: 16px;
  line-height: 24px;
  color: $dark-text-color;
  font-weight: 500;
  background-color: $background-body-color;
  border: none;

  &__arrow {
    position: absolute;
    background: url(../img/icons/more.svg) no-repeat;
    width: 10px;
    height: 11px;
    left: 20px;
    top: 11px;
    transform: rotate(0deg);
  }
}
