.service-icon-set {
  @media (min-width: 768px) {
    display: flex;
  }

  .icon {
    margin: 0 8px;
  }

  &__call-icon {
    background: $button-color url(../img/icons/call.svg) no-repeat center;
  }

  &__chat-icon {
    background: $button-color url(../img/icons/chat.svg) no-repeat center;
  }

  &__profile-icon {
    background: $button-color url(../img/icons/profile.svg) no-repeat center;
  }
}
