.service-icon-set {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }

  .icon {
    margin: 0 8px;
  }

  &__call-icon {
    background: $color-pink url(../img/icons/call.svg) no-repeat center;
  }

  &__chat-icon {
    background: $color-pink url(../img/icons/chat.svg) no-repeat center;
  }

  &__profile-icon {
    background: $color-pink url(../img/icons/profile.svg) no-repeat center;
  }
}
