.service-links {
  & a::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -5px;
    right: -5px;
  }

  &__request-link {
    transition: 0.2s;

    &:hover {
      opacity: 0.9;
      transform: scale(1.1);
    }

    &::after {
      background: url(../img/icons/repair.svg) no-repeat;
    }
  }

  &__status-link {
    transition: 0.2s;

    &:hover {
      opacity: 0.9;
      transform: scale(1.1);
    }

    &::after {
      background: url(../img/icons/checkstatus.svg) no-repeat;
    }
  }
}
