@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: normal;
  src: local("TT Lakes"),
    url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes/TTLakes-Regular.ttf") format("ttf"),
    url("../fonts/TTLakes/TTLakes-Regular.eot") format("eot");
}
@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: bold;
  src: local("TT Lakes"),
    url("../fonts/TTLakes/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes/TTLakes-Bold.ttf") format("ttf"),
    url("../fonts/TTLakes/TTLakes-Bold.eot") format("eot");
}
@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  src: local("TT Lakes"),
    url("../fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes/TTLakes-Medium.ttf") format("ttf"),
    url("../fonts/TTLakes/TTLakes-Medium.eot") format("eot");
}
