$button-color: #ff3e79;
$input-text-color: #b5b6bc;
$dark-text-color: #1b1c21;
$light-text-color: #7e7e82;
$background-body-color: #f8f8f8;
$background-item-color: #ffffff;
$item-hover: #ff3e791a;

$header-margin-top: 89px;

@import "./swiper.scss";
@import "./normalize.scss";
@import "./font-face.scss";
@import "./common-style.scss";
@import "./blocks/link.scss";
@import "./blocks/brands.scss";
@import "./blocks/buttons-block.scss";
@import "./blocks/footer.scss";
@import "./blocks/form-button.scss";
@import "./blocks/form.scss";
@import "./blocks/header.scss";
@import "./blocks/icon.scss";
@import "./blocks/language-change.scss";
@import "./blocks/left-menu.scss";
@import "./blocks/modal.scss";
@import "./blocks/modal-left-menu.scss";
@import "./blocks/modal-call.scss";
@import "./blocks/modal-feedback.scss";
@import "./blocks/modal-menu.scss";
@import "./blocks/navigation.scss";
@import "./blocks/paragraph.scss";
@import "./blocks/price.scss";
@import "./blocks/read-more.scss";
@import "./blocks/repair.scss";
@import "./blocks/service-icon-set.scss";
@import "./blocks/service-links.scss";
@import "./blocks/service.scss";
