$button-color: #ff3e79;
$input-text-color: #b5b6bc;
$dark-text-color: #1b1c21;
$light-text-color: #7e7e82;
$background-body-color: #f8f8f8;
$background-item-color: #ffffff;
$item-hover: #ff3e791a;

$header-margin-top: 89px;
